@model RentalKendaraan_086.Models.Upload.FilesViewModel

<p>List of Files</p>

<ul>
    @foreach (var item in Model.Files)
    {
        <li>
            <a asp-action="Download"
               asp-route-filename="@item.name">
                @item.name
            </a>
        </li>
    }
</ul>

